<form action="/upload" method="POST" enctype="multipart/form-data" style="display: flex; margin: 20px">
    <input type="file" name="files" multiple required>
    <button type="submit">upload</button>
</form>
