body {
    margin: 0;
    height: 100vh;
}

table {
    text-align: center;
    width: 100%;
    border-spacing: 0;
}

thead {
    background-color: skyblue;
    color: white;
}

th {
    padding: 7px;
}

td {
    padding: 10px;
    color: blue;
}

td > a {
    color: gray;
}

#container {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-areas:
    "header header header header header"
    "options content content content content"
    "options content content content content"
    "options content content content content"
    "options content content content content"
    "options content content content content"
    "options content content content content"
    "options content content content content"
    "options content content content content"
    "options content content content content"
    "options content content content content"
    "options content content content content"
    "options content content content content";
    height: 100%;
}

#header {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 20px;
    background-color: purple;
    grid-area: header;
}

#header > a {
    color: white;
    font-weight: bold;
}

#options {
    grid-area: options;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: lightgray;
    color: gray;
}

#options > a {
    color: gray;
}

#content {
    grid-area: content;
}

.label {
    color: blue;
    text-decoration: underline;
}
